#bottom-button {
    position: fixed;
    padding: 8px 0;
    transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform, 0.4s ease border-radius;
    opacity: 0;
    line-height: 24px;
    outline: none;
    transform: translateY(120px);
}
#bottom-button.fade-in {
    opacity: 1;
}
#bottom-button.rise-up {
    transform: translateY(0);
}
#back-to-top {
    position: fixed;
    padding: 8px 0;
    transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform, 0.4s ease border-radius;
    opacity: 0;
    line-height: 24px;
    outline: none;
    transform: translateY(120px);
}
#back-to-top.fade-in {
    opacity: 1;
}
#back-to-top.rise-up {
    transform: translateY(0);
}
#show-toc {
    position: fixed;
    padding: 8px 0;
    transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform, 0.4s ease border-radius;
    opacity: 0;
    line-height: 24px;
    outline: none;
    transform: translateY(300px);
}
#show-toc.fade-in {
    opacity: 1;
}
#show-toc.rise-up {
    transform: translateY(0);
}